:root{
    --blue:#007bff;
    --indigo:#6610f2;
    --purple:#6f42c1;
    --pink:#e83e8c;
    --red:#dc3545;
    --orange:#fd7e14;
    --yellow:#ffc107;
    --green:#28a745;
    --teal:#20c997;
    --cyan:#17a2b8;
    --white:#fff;
    --gray:#6c757d;
    --gray-dark:#343a40;
    --primary:#007bff;
    --secondary:#6c757d;
    --success:#28a745;
    --info:#17a2b8;
    --warning:#ffc107;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#343a40;

}
    .rainbow-text {
    font-size: 40px; /* Cỡ chữ lớn để thấy rõ hiệu ứng */
    font-weight: bold;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Hiệu ứng gradient bảy màu */
    -webkit-background-clip: text; /* Sử dụng background như là màu của chữ */
    color: transparent; /* Làm cho phần chữ trong suốt để thấy gradient */
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

